<main class="px-6  sm:px-8 lg:px-10 ">
  <div class="mx-auto max-w-3xl p-4 bg-[#192232] flex flex-col rounded-lg">
    <h1 class="self-center mb-10 text-3xl text-white border-b border-[#9ca3af]">
      <span>🚦</span>Road Traffic Collision Analytics
    </h1>

    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
